.header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: #071426;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.navbar {
  max-width: 1200px;
  margin: auto;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Segoe UI", sans-serif;
}

.logo h2 {
  color: #2ecc71;
  font-size: 22px;
  font-weight: 600;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #e5e9f0;
  font-size: 15px;
  transition: 0.3s;
  position: relative;
}

.nav-links a:hover {
  color: #2ecc71;
}

.nav-links a::after {
  content: "";
  width: 0%;
  height: 2px;
  background: #2ecc71;
  position: absolute;
  left: 0;
  bottom: -4px;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

/* CTA Button */

.cta-btn {
  background: #2ecc71;
  color: black !important;
  padding: 8px 18px;
  border-radius: 4px;
  font-weight: 500;
}

.cta-btn:hover {
  background: #25b862;
}

/* Mobile Menu Button */

.menu-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-btn span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
  transition: 0.3s;
}

/* Mobile Responsive */

@media (max-width: 768px) {

  .menu-btn {
    display: flex;
  }

  .nav-links {
    position: absolute;
    top: 65px;
    left: 0;
    width: 100%;
    background: #071426;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    gap: 20px;
    display: none;
  }

  .nav-links.active {
    display: flex;
  }

}